
*{
	margin:0px;
	padding:0px;
	list-style: none;
	text-decoration: none;
	font-family: 'Libre Baskerville', serif;
	box-sizing: border-box;
}
#logotipo{
	
	border-radius: 15%;
	width: 10%;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
	margin-left: 1%;
	margin-top: 1%;
}
#seccion {
height:250px;
}

#return{
	float: right;
	font-size: 20px;
	color: white;
}
#return:hover{
	color:rgb(128,17,38);
}


#encabezado_log{
	background-color: rgb(62,62,62);
	height: 40px;
	text-align: center;
	padding: 2px;
	color: white;
	
	font-size: 30px;
	font-style: italic;
	font-size-adjust: initial;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

}


body{
	background-image: url("../img/codigo2.jpg");

}
i{
	font-size: 50px;
}

#contenedor{
   background-color: rgb(89,89,89);

   float:center;
   
  border-radius: 10px;
  
   cursor: default;
   display:block;
   width:500px;

   margin:auto;
   text-align:center;

  border-style: ridge;
  border-color: black;
	

}
#pie_log,a{
	color:white;
	font-size: 20px;
	margin:10px;
}
#pie_log a:hover{
	color:rgb(128,17,38);
	
}


.login {
	
    width: 85%;
    padding: 15px 15px;
    margin: 15px ;
    display: inline-block;
    border: 1px solid rgb(128,17,38);
    border-radius: 5px;
    font-size: 25px;

}

#btn_envio{
	text-align: center;
	font-size: 20px;
	color: white;
	cursor: pointer;
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid rgb(128,17,38);
    border-radius: 5px;
    box-sizing: border-box;
    background-color: rgb(155,21,34);
}
#btn_envio:hover {
    background-color: rgb(128,17,38);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.btnsesion{
	text-align:center;
	color:beige;
	background-color:rgba(155,21,34,0.6);
	float:right;
	border-radius:10%;
	padding:9px;
	margin-top:20px


}

.btnsesion:hover{
	background-color: rgb(128,17,38);
	color:beige;
}
#navbar{
	width:100%;
	background-color:rgba(129,129,129,.6);
	
	padding-top:4px;
	padding-bottom:4px;
	margin:0 ;
}

#navbar ul{
  	 text-align: center;
}

#navbar ul li{
  	 display: inline-grid;
  	 text-align: center;
  	 width:19.64%
}

#navbar ul li a{
  	background-color:rgb(128,17,38);
  	padding:15px;
  	margin:auto;

}
